
/* endangeredAnimals.css */
h1 {
    background-image: url('leaf_background.jpg'); /* Replace 'leaf_background.jpg' with the actual filename of your image */
    background-size: cover; /* Adjust the background-size property as needed */
    background-position: top; /* Adjust the background-position property as needed */
    height: 90px; /* Adjust the height of the header as needed */
    color: rgb(60, 61, 6); /* Set text color for the header */
    text-align: center; /* Center align the text in the header */
    padding-top: 45px; /* Adjust the padding to vertically center the text in the header */
    margin-top: auto;
    opacity: 0.6;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4a8605;

}


h2 {
    padding-top: 10px;
    text-align: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 25px;
    color: #e6f0ec;
}

h3 {
    padding-top: 10px;
    text-align: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 25px;
    color: #e6f0ec;
}

p {
    padding-top: 5px;
    text-align: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 25px;
    color: #e6f0ec;
}

#map-container {
    flex: 3; /* Set the map container to take up 3/4 of the available space */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; /* Add some spacing between the map container and the other containers */
    position: relative;
    
}

#map {
    width: 85%;
    height: 700px;
    border: 8px solid #7c7e17;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-content: center;
    border-radius: 25px;
    padding: 20px;
    width: 1000px;
    height: 550px;
  }
    


/* Custom marker icon styles */
.animal-icon {
    background-color: #ff6161;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px; /* Vertically center the content */
    font-weight: bold;
    color: #ffffff;
    cursor: pointer; /* Add a cursor pointer on hover */
    /* Add a transition for smooth animation */
    transition: transform 0.3s ease;
}

.animal-icon.animal-icon-hover {
    /* Hover size */
    transform: scale(1.2);
}

/* Add any additional CSS styles here */

/* Add styling for the search container */
#search-container {
    text-align: center;
    margin: 20px auto;
}

#search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

#search-button {
    padding: 5px 10px;
    background-color: #0cec17;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/* Styling for the tooltip */
.leaflet-tooltip {
    background-color: #52aa1e;
    border: 1px solid #ccc;
    padding: 5px;
    font-weight: bold;
    white-space: nowrap;
}

/* Hide the modal by default */
#animal-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0); /* Semi-transparent background overlay */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(44, 82, 39);
    padding: 20px;
    border-radius: 5px;
    z-index: 1000; /* Ensure modal appears above the map */
}

/* Style the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #000;
}

.modal-content img {
    max-width: 70%; /* Adjust this value to control the maximum width of the image */
    height: auto; /* Maintain the aspect ratio */
}

#animal-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #646964;
}




/* Other styles remain the same */
